---
layout: page
title: WanderCosta
menuTitle: Home
menu: "true"
description: "co-founder of @wideping<br>software engineer at @FreeNow_DE<br><br><b>sharing thoughts and pieces of code</b>"
---

{% assign i = 0 %}
{% for post in paginator.posts %}

{% if i == 0 %}
<div class="col-lg-12">
{% endif %}
    <div class="post-preview col-lg-4">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <img src="{{ post.thumb-img }}" class="thumb-img">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">
            {{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;
            {% assign words = post.content | number_of_words %}
            {{ post.content | number_of_words }} words&nbsp;&nbsp;&nbsp;
            {% if words < 240 %}
                1 minute reading
            {% else %}
                {{ words | divided_by:180 }} minutes reading
            {% endif %}&nbsp;&nbsp;&nbsp;
            {% assign url = site.baseurl %}
            <a href="{{ post.url | prepend: url }}#disqus_thread">Post a comment</a>
        </p>
        <!--<spam class="post-text-preview">-->
            <!--{% if post.excerpt %}-->
                <!--{{ post.excerpt }}-->
            <!--{% endif %}-->
        <!--</spam>-->
    </div>
{% if i == 2 %}
</div>
{% endif %}

{% if i == 0 %}
{% assign i = 1 %}
{% elsif i == 1 %}
{% assign i = 2 %}
{% elsif i == 2 %}
{% assign i = 0 %}
{% endif %}

{% endfor %}

{% if i == 1 or i == 2 %}
</div>
{% endif %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
